# Byte-compiled / optimized / DLL files
__pycache__/
bin/__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Environment files
.env
.venv
env/
venv/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log
